<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <!-- Column definitions -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>
  <ng-container matColumnDef="carpeta">
    <th mat-header-cell *matHeaderCellDef>Carpeta</th>
    <td mat-cell *matCellDef="let row">{{row.carpeta}}</td>
  </ng-container>
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef>Categoria</th>
    <td mat-cell *matCellDef="let row">{{row.categoria}}</td>
  </ng-container>
  <ng-container matColumnDef="nombreSitio">
    <th mat-header-cell *matHeaderCellDef>Nombre Sitio</th>
    <td mat-cell *matCellDef="let row">{{row.nombreSitio}}</td>
  </ng-container>
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let row">{{row.url}}</td>
  </ng-container>
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
  </ng-container>
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let row">{{row.estado}}</td>
  </ng-container>
  <ng-container matColumnDef="prod_Prom">
    <th mat-header-cell *matHeaderCellDef>Prod Prom</th>
    <td mat-cell *matCellDef="let row">{{row.prod_Prom}}</td>
  </ng-container>
  <ng-container matColumnDef="fecha_Post">
    <th mat-header-cell *matHeaderCellDef>Fecha Post</th>
    <td mat-cell *matCellDef="let row">{{row.fecha_Post}}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" [routerLink]="['/editar', row.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="warn" (click)="deleteDatos(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Row content -->
  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

